<% if @authorized %>
  <div class="chatroom" data-controller="chatroom-subscription"
                        data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
                        data-chatroom-subscription-user-id-value="<%= current_user.id %>">
    <div class="chatroom-header">
      <%= link_to chatrooms_path, class: "arrow-back" do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
      <h2>
        <% if @chatroom.personal %>
          Chatting with <%= render "messages/user_names", user: @user %>
        <% else %>
          <%= @chatroom.name %>
        <% end %>
      </h2>
    </div>
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <% if message.user == current_user %>
          <div class='message me'>
        <% else %>
          <div class='message you'>
        <% end %>
          <%= render "messages/message", message: message %>
        </div>
      <% end %>
    </div>
    <div class="new-message">
      <%= simple_form_for [@chatroom, @message],
        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }} do |f| %>
        <div class="new-text">
          <%= f.input :content, label: false, placeholder: "Type your message...", input_html: { autocomplete: 'off' } %>
        </div>
        <div style="text-align: center">
          <%= f.submit value: "Send message", class: "btn-main d-none", style: "width:100%" %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p>There is nothing here.</p>
<% end %>
