<div data-controller="fr-card" data-fr-card-images-value='<%= [image_path("cards/queen_of_hearts.png"), image_path("cards/jack_of_hearts.png"), image_path("cards/king_of_hearts.png")].to_json %>'>
  <%= image_tag 'cards/queen_of_hearts.png', class: 'heart-card', data: { fr_card_target: 'image', action: 'click->fr-card#change' } %>
</div>

<div data-controller="fr-card" data-fr-card-images-value='<%= [image_path("cards/queen_of_clubs.png"), image_path("cards/jack_of_clubs.png"), image_path("cards/king_of_clubs.png")].to_json %>'>
  <%= image_tag 'cards/queen_of_clubs.png', class: 'joker-card', data: { fr_card_target: 'image', action: 'click->fr-card#change' } %>
</div>

<div class="books-container">
  <div class="bookmarks-container">
    <% if @bookmarks.size == 0 %>
      <%= image_tag 'cards/back_03.png', class: 'heart-back-card' %>
    <% else %>
      <div class="bookmarks-card">
        <% @bookmarks.each_with_index do |bookmark, index| %>
          <% if index < 10 %>
            <div class="image-container">
              <%= image_tag "cards/#{sprintf('%02d', index + 1)}_of_hearts.png", alt: bookmark.event.title, class: "bookmark-image" %>
              <div class="image-text">
                <div class="image-text-title">
                  <%= link_to bookmark.event.title, event_path(bookmark.event.id), style: "text-decoration: none; color: $rollblueD;" %>
                </div>
                <div class="image-text-status">
                  <%= link_to bookmark_path(bookmark), class: "btn primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i class="fa-solid fa-trash-can trash-icon"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="bookings-container">
    <% if @bookings.present? %>
      <div class="bookings-card">
        <% @bookings.each_with_index.reverse_each do |booking, index| %>
          <% if index < 10 %>
            <div class="image-container">
              <%= image_tag "cards/#{sprintf('%02d', index + 1)}_of_clubs.png", alt: booking.event.title, class: "booking-image" %>
              <div class="image-text">
                <div class="image-text-title">
                  <%= link_to booking.event.title, event_path(booking.event.id), style: "text-decoration: none; color: $rollblueD;" %>
                </div>
                <div class="image-text-status <%= booking.status.downcase if booking.status.present? %>">
                  <p><%= booking.status %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= image_tag 'cards/back_01.png', class: 'joker-back-card' %>
    <% end %>
  </div>
</div>
