<div data-controller="fr-card" data-fr-card-images-value='["assets/cards/queen_of_hearts.png", "assets/cards/jack_of_hearts.png", "assets/cards/king_of_hearts.png"]'>
  <img class="heart-card" src="/assets/cards/queen_of_hearts.png" data-fr-card-target="image" data-action="click->fr-card#change" />
</div>

<div data-controller="fr-card" data-fr-card-images-value='["assets/cards/Joker_black.png", "assets/cards/Joker_red.png"]' >
  <img class="joker-card" src="/assets/cards/Joker_black.png" data-fr-card-target="image" data-action="click->fr-card#change"/>
</div>

<div class="books-container">
  <div class="bookmarks-container">
    <% if @bookmarks.size == 0 %>
      <img class="heart-back-card" src="/assets/cards/back_03.png">
    <% else %>
      <div class="bookmarks-card">
        <% @bookmarks.each_with_index do |bookmark, index| %>
          <% if index < 10 %>
            <div class="image-container">
              <%= image_tag "cards/#{sprintf('%02d', index + 1)}_of_hearts.png", alt: bookmark.event.title, class: "bookmark-image" %>
              <div class="image-text">
                <%= link_to bookmark.event.title, event_path(bookmark.event.id), style: "text-decoration: none; color: green;" %>
                <%= link_to "Cancel bookmark", bookmark_path(bookmark), class: "btn primary",
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="bookings-container">
    <% if @bookings.present? %>
      <div class="bookings-card">
        <% @bookings.reverse.each_with_index do |booking, index| %>
          <% if index < 10 %>
            <div class="image-container">
              <%= image_tag "cards/#{sprintf('%02d', index + 1)}_of_clubs.png", alt: booking.event.title, class: "booking-image" %>
              <div class="image-text <%= booking.status.downcase if booking.status.present? %>">
                <%= link_to booking.event.title, event_path(booking.event.id), style: "text-decoration: none; color: green;" %>
                <p><%= booking.status %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <img class="joker-back-card" src="/assets/cards/back_01.png">
    <% end %>
  </div>
</div>

<%#
link_to booking.event.title, event_path(booking.event.id)
link_to "Cancel booking", booking_path(booking), class: "btn primary"
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
