<div class="profile-global-container" data-controller="review">
  <div class="profile-display">
    <div class="profile-btn-container">
      <% if current_user == @user %>
        <div class="btn-profile">
          <%= link_to edit_user_path(current_user), class: "edit" do %>
            <% concat content_tag(:i, "", class: "fa-solid fa-pencil", style:"color: #04293a;") %>
          <% end %>
        </div>
        <div class="btn-profile">
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
            <% concat content_tag(:i, "", class: "fa-solid fa-power-off", style:"color: #04293a;") %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="profile-headers-container">
      <div class="profile-highlights position-relative">
        <div class="user-avatar">
          <% if @user.photo.attached? %>
            <%= image_tag @user.photo, class: "avatar-global avatar-profile" %>
          <% else %>
            <%= image_tag "meeple.png", class: "avatar-global avatar-profile" %>
          <% end %>
        </div>
        <div class="user-rating-stars">
          <% rating = @reviews.average(:rating) || 0 %>
          <% full_stars = rating.floor %>
          <% half_star = rating - full_stars %>
          <% total_stars = 5 %>
          <% empty_stars = 5 - full_stars - (half_star > 0 ? 1 : 0) %>

          <% positions = {
            top: %i[125 95 59 29 5],
            right: %i[-15 -30 -31 -21 -1]
          } %>

          <% if rating > 0 %>
            <% full_stars.times.with_index do |_, index| %>
              <% position_top = positions[:top][index] || 0 %>
              <% position_right = positions[:right][index] || 0 %>
              <i class="fa-solid fa-star fa-lg position-absolute" style="color: #ecb365; top: <%= position_top %>px; right: <%= position_right %>px;"></i>
            <% end %>
            <% if half_star > 0 %>
              <% position_top = positions[:top][full_stars] || 0 %>
              <% position_right = positions[:right][full_stars] || 0 %>
              <i class="fa-solid fa-star-half-stroke fa-lg position-absolute" style="color: #ecb365; top: <%= position_top %>px; right: <%= position_right %>px;"></i>
            <% end %>
            <% empty_stars.times.with_index do |_, index| %>
              <% position_top = positions[:top][full_stars + 1 + index] || 0 %>
              <% position_right = positions[:right][full_stars + 1 + index] || 0 %>
              <i class="fa-regular fa-star fa-lg position-absolute" style="color: #ecb365; top: <%= position_top %>px; right: <%= position_right %>px;"></i>
            <% end %>
          <% else %>
          <% total_stars.times.with_index do |_, index| %>
            <% position_top = positions[:top][index] || 0 %>
            <% position_right = positions[:right][index] || 0 %>
            <i class="fa-regular fa-star fa-lg position-absolute" style="color: #ecb365; top: <%= position_top %>px; right: <%= position_right %>px;"></i>
            <% end %>
          <% end %>
        </div>
        <div class="user-profile-description position-absolute"><i class="fa-solid fa-quote-left"></i>
          <%= @user.description %>
        </div>
      </div>
      <div class="profile-details">
        <p class="user-first_name"><%= @user.first_name.capitalize %></p>
        <p class="user-nickname"><%= @user.nickname %></p>
        <div class="reviews-details">
          <% if @reviews.present? %>
            <div class="user-reviews-rating"><%= number_with_precision(@reviews.average(:rating), precision: 1) %>/5 </div>
            <div class="user-reviews-count">&nbsp;- <%= @reviews.count %> reviews</div>
          <% else %>
            <div class="user-reviews-rating">0/5</div>
            <div class="user-reviews-count">&nbsp;- No review</div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="profile-chat-button">
      <% if current_user != @user %>
          <%= link_to "Chat with #{@user.first_name}", user_chatroom_path(@user), class: "btn-main btn-chat", data: { turbo_method: :post } %>
      <% end %>
      <% if @can_review %>
        <%= link_to "Add a review", new_event_review_path(@event_to_review), class: "btn-main btn-chat", style: "margin-left: 10px" %>
      <% end %>
    </div>

    </div>

    <div class="profile-stats">
        <% stats_event_text = @user.events.count > 1 ? "tabletop games" : "tabletop game" %>
        <%= "Crafted #{@user.events.count} unforgettable #{stats_event_text}" %>
        <% accepted_bookings = @user.bookings.where(status: "accepted") %>
        <% stats_accepted_text =  accepted_bookings.count > 1 ? "tabletop games" : "tabletop game" %>
      <br>
        <%= "Reward #{accepted_bookings.count} #{stats_accepted_text} of radiant presence" %>
          <i class="fa-solid fa-angle-down fa-lg" style="color: #042393A; margin: 20px auto;"></i>
        <% incoming_user_events = @user.events.where("start_hours > ?", Time.now).count %>
        <%# <% @user == current_user ? stats_user_text = "You are" : stats_user_text = "#{ @user.first_name } is" %>
        <% stats_event_text = incoming_user_events > 1 ? "tabletop games" : "tabletop game" %>
        <%= "Offering adventures in #{incoming_user_events} #{stats_event_text}" %>
      </div>
    <div class="review-stats d-none">
      <%= render "reviews/info" %>
    </div>
    <div class="profile-events-cards">
      <% @user.events.each do |event| %>
        <div class="profile-event-games">
          <% event.games.each do |game| %>
            <%= link_to event_path(event) do %>
              <%= image_tag game.image_url,  style: "width: 100px; height: 100px; object-fit:cover; object-position: top;" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
