<div class="new-event-wrap">
  <h1>Host a new event</h1>

    <%= simple_form_for @event do |f| %>
      <div class="new-event-form">
        <%= f.input :title, placeholder: "Type your game event title" %>
        <%= f.input :description, placeholder: "What's gonna happen?" %>
        <label for="">Games</label>
        <div class="new-event-games">
          <% @games.each do |game| %>
            <%= image_tag game.image_url, style: "width: 100px; height: 100px; object-fit: cover" %>
            <%= f.hidden_field :game_id, value: game.id %>
          <% end %>
        </div>
        <%= f.input :address, input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
        <%= f.input :start_hours, label: "Date", as: :string,
                                    input_html: { data: { controller: "datepicker" } } %>
        <div class="half-size">
          <%= f.input :playtime, label: "Duration" %>
          <div class="players">
            <%= f.input :slot_number, as: :integer, label: "Players"%>
          </div>
        </div>
        <!--
        <div class="text_form btn_photo">
          <%= f.input :photo, as: :file %>
        </div>
        -->
      </div>

      <div class="submit-wrap">
        <%= f.submit value: "Let's play!", class: "btn-main" %>
      </div>
    <% end %>


    <!--
    <% if params[:game_name].present? %>
      <div class="text_form">
        <%= tag.p params[:game_name], class: "readonly-text" %>
        <%= f.hidden_field :game_name, value: params[:game_name] %>
      </div>
    <% end %>
    <% if params[:year_published].present? %>
      <div class="text_form">
        <%= tag.p params[:year_published], class: "readonly-text" %>
        <%= f.hidden_field :year_published, value: params[:year_published] %>
      </div>
    <% end %>
    <% if params[:description].present? %>
      <div class="text_form">
        <%= tag.p params[:description], class: "readonly-text" %>
        <%= f.hidden_field :game_description, value: params[:description] %>
      </div>
    <% end %>
    <% if params[:min_players].present? %>
      <div class="text_form">
        <%= f.label :min_players, "Min Players" %>
        <%= f.number_field :min_players, value: params[:min_players] %>
      </div>
    <% end %>
    <% if params[:max_players].present? %>
      <div class="text_form">
        <%= f.label :max_players, "Max Players" %>
        <%= f.number_field :max_players, value: params[:max_players] %>
      </div>
    <% end %>
    <% if params[:playing_time].present? %>
      <div class="text_form">
        <%= f.label :playing_time, "Playing Time" %>
        <%= f.number_field :playing_time, value: params[:playing_time] %>
      </div>
    <% end %>
    <% if params[:image_url].present? %>
      <div>
        <%= image_tag params[:image_url], alt: "Game Image", style: 'max-width: 200px; max-height: 200px;' %>
      </div>
    <% end %>
    -->


</div>
