<nav>
  <div class="navbar-container">
    <div class="navbar-buttons">
      <div class="navbar-button">
        <%= link_to "RollFinder", root_path, id:"brand" %>
      </div>
      <% if user_signed_in? %>
        <div class="navbar-button">
          <%= link_to root_path do %>
            <i class="fa-solid fa-comments"></i>
          <% end %>
        </div>
        <div class="navbar-button">
          <%= link_to user_path(current_user) do %>
            <%= image_tag "avatar.png", id:"navbar-avatar"%>
          <% end %>
        </div>
      <% else %>
        <div class="navbar-button">
          <%= link_to "Login", new_user_session_path, id:"login" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
