<div id="event-index-wrap" data-controller="map-animation event-carousel" data-map-animation-target="wrapper">

  <div id="map" data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-animation-target="map">
  </div>

  <button class="btn-main show-map-btn" data-action="mousedown->map-animation#toggleMap"
          data-map-animation-target="button">Show the map <i class="fa-solid fa-chevron-down"></i>
  </button>

  <div class="event-searchbar">
    <%= form_with url: events_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control event-search",
            placeholder: "Search for a game..."
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary d-none" %>
    <% end %>
  </div>

  <div class="event-index">
    <div class="arrow left" data-action="click->event-carousel#scrollPrevious"
                            data-event-carousel-target="arrowLeft">
      <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="arrow right" data-action="click->event-carousel#scrollNext"
                              data-event-carousel-target="arrowRight">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
    <% if @events.present? %>
      <div class="event-cards">
      <% @events.each_with_index do |event, index| %>
          <div id="<%= event.id %>" class="event-list index-card" data-event-carousel-target="card">
            <%= image_tag "tabletop.png", class: "card-image" %>
            <div class="event-address">
                <%= event.address %>
            </div>
            <div class="card-title">
              <h3><%= link_to event.title, event_path(event.id) %></h3>
            </div>
            <div class="card-games">
              <% event.games.each do |game| %>
                <%= game.name %>
              <% end %>
            </div>
            <div class="card-info">
              <div class="date-wrap">
                <div class="card-date">
                  <div class="icon"><i class="fa-solid fa-calendar-day"></i></div>
                  <p><%= event.start_hours.day %>/<%= event.start_hours.month %>/<%= event.start_hours.year %></p>
                </div>
                <div class="card-time">
                  <div class="icon"><i class="fa-solid fa-clock"></i></div>
                  <p><%= event.start_hours.hour %>:<%= event.start_hours.min %>  -  <%= event.playtime %>min </p>
                </div>
              </div>
              <div class="card-players">
                <div class="icon">
                  <i class="fa-solid fa-people-carry-box"></i>
                </div>
                <p>
                  <% if event.bookings.where(status: "Accepted").size < event.slot_number %>
                    <span class="current_players">
                  <% else %>
                    <span class="current_players full">
                  <% end %>
                  <%= event.bookings.where(status: "Accepted").size + 1 %>
                  </span> / <%= event.slot_number %></p>
              </div>
            </div>
          </div>

      <% end %>
      </div>
    <% else %>
      <p>There is no events</p>
    <% end %>
  </div>
</div>
