<%= render "shared/form", review: @review %>

<h1>Event Index</h1>

<% if @game_name.present? %>
  <p><strong>Game Name:</strong> <%= @game_name %></p>
<% end %>

<% if @image_url.present? %>
  <img src="<%= @image_url %>" alt="Game Image">
<% end %>

<% if @year_published.present? %>
  <p><strong>Year Published:</strong> <%= @year_published %></p>
<% end %>

<% if @min_players.present? %>
  <p><strong>Min Players:</strong> <%= @min_players %></p>
<% end %>

<% if @max_players.present? %>
  <p><strong>Max Players:</strong> <%= @max_players %></p>
<% end %>

<% if @playing_time.present? %>
  <p><strong>Playing Time:</strong> <%= @playing_time %> minutes</p>
<% end %>

<% if @description.present? %>
  <p><strong>Description:</strong> <%= @description %></p>
<% end %>
