<% content_for :meta_title, "#{@event.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @event.description %>
<%# content_for :meta_image, cl_image_path(@event.photo.path) %>

<div class="event-containner">
  <div class="event-background-img">
    <h1 class="event-title"><%= @event.title %></h1>
  </div>
  <div class="profile-container">
    <div class="event-profile">
      <div class="event-show">
        <div class="profile-show">
          <% if @user.photo.attached? %>
            <%= link_to user_path(@event.user) do %>
              <%= image_tag @user.photo, class: "avatar-global avatar-profile event-avatar" %>
            <% end %>
          <% else %>
            <%= link_to user_path(@event.user) do %>
              <%= image_tag "meeple.png", class: "avatar-global avatar-profile event-avatar" %>
            <% end %>
          <% end %>
        </div>
        <div>
          <div class="event-firstname">
            <%= @user.first_name %>
          </div>
          <div class="event-nickname">
            <%= @user.nickname %>
          </div>
        </div>
      </div>
      <% if current_user == @event.user %>
        <div class="btn-profile btn-cassé-edit">
          <%= link_to "", edit_event_path(@event), class: "fa-solid fa-pencil", style:"color: #04293a; text-decoration:none;" %>
        </div>
        <div class="btn-profile">
          <%= link_to "", event_path(@event), class: "fa-solid fa-trash-can", style:"color: #04293a;", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      <% else %>
      <% bookmark = @event.bookmarks.where(user: current_user).first %>
        <% if bookmark.present? %>
          <%= link_to "", bookmark_path(bookmark), class:"fa-solid fa-heart fa-2xl", style:"text-decoration: none; color: #f10404;", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        <% else %>
          <div>
            <%= link_to "", event_bookmarks_path(@event), class:"fa-regular fa-heart", style:"text-decoration: none; color: #f10404;", data: {turbo_method: :post} %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="event-date">
      <div class="event-dateshow "><i class="fa-solid fa-calendar-day iconshow"></i>
        <%= @event.start_hours.day %>/<%= @event.start_hours.month %>/<%= @event.start_hours.year %>
      </div>
      <div class="event-dateshow "><i class="fa-solid fa-clock iconshow"></i>
        <%= @event.start_hours.hour %>:<%= @event.start_hours.min %> - <%= @event.playtime %>min
        </div>
    </div>
    <div class="event-description">
      <%= @event.description %>
    </div>
    <div class="event-games">
      <% @event.games.each do |game| %>
        <%= image_tag game.image_url,  style: "width: 150px; height: 150px; object-fit:cover; object-position: top; margin: 10px;" %>
      <% end %>
    </div>
    <div class="event-cardslot">
      <% if current_user == @event.user %>
      <div class="event-slotshow "><i class="fa-solid fa-people-carry-box iconplay"></i>
        <%= @event.bookings.where(status: "Accepted").size + 1 %> / <%= @event.slot_number %>
      </div>
        <% @event.bookings.each do |booking| %>
          <div class="validatecard">
            <div class="profile-event">
              <div class="profile-show">
                <% if booking.user.photo.attached? %>
                  <%= image_tag booking.user.photo, class: "avatar-global avatar-profile event-avatar" %>
                <% else %>
                  <%= image_tag "meeple.png", class: "avatar-global avatar-profile event-avatar" %>
                <% end %>
              </div>
              <div class="event-firstname">
                <%= booking.user.first_name %>
              </div>
            </div>
            <%if booking.status == "Accepted" %>
              <p class="validation">Accepted</p>
            <% elsif booking.status == "Declined" %>
              <p class="validation refused">Declined</p>
            <% else %>
              <div class="cardbutton">
                <%= simple_form_for (booking) do |f| %>
                  <div>
                    <% f.input :status, input_html: { value: 'Accepted' }, as: :hidden %>
                    <%= f.button :submit, "Accept", status: 'Accepted', class: "btn-main" %>
                  </div>
                <% end %>
                <%= simple_form_for (booking) do |f| %>
                  <div>
                    <% f.input :status, input_html: { value: 'Declined' }, as: :hidden %>
                    <%= f.submit "Decline", class: "btn-main btn-decline" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="event-cardslotuser">
          <div class="event-slotshowuser "><i class="fa-solid fa-people-carry-box iconplay"></i>
            <%= @event.bookings.where(status: "Accepted").size + 1 %> / <%= @event.slot_number %>
          </div>
          <div class="bookingstatus">
            <% booking = @event.bookings.where(user: current_user).first %>
            <% if booking.present? %>
              <div>
                <% if booking.status == "Declined" %>
                  <p class="validation declined"><%= booking.status %></p>
                <% elsif booking.status == "Accepted" %>
                  <p class="validation accepted"><%= booking.status %></p>
                <% else %>
                  <p class="wait"><%= booking.status %></p>
                <% end %>
              </div>
              <div class="btn-profile btn-logout">
                <%= link_to "", booking_path(booking), class: "fa-solid fa-trash-can", style:"color: #04293a;", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
            <% else %>
              <%= simple_form_for [@event, Booking.new] do |f| %>
                <div>
                  <%= f.input :status, as: :hidden %>
                  <%= f.submit "Create Booking", class: "btn-main" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
