<div class="event-containner">
  <div class="event-title">
    <h1><%= @event.title %></h1>
  </div>
  <div class="event-profile">
    <%= link_to "profile", user_path(@event)%>
    <div class="cta">
      <% if current_user == @event.user %>
        <%= link_to "", edit_event_path(@event), class: "fa-solid fa-pencil fa-lg" %>
        <%= link_to "", event_path(@event), class: "fa-solid fa-trash-can fa-lg", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% else %>
        <%= link_to "new bookmark", new_event_bookmark_path(@event)%>
      <% end %>
    </div>
  </div>
  <div class="event-date">
    <div>
      <%= @event.start_hours.day %>/<%= @event.start_hours.month %>/<%= @event.start_hours.year %>
    </div>
    <div>
      <%= @event.start_hours.hour %>:<%= @event.start_hours.min %>  :  <%= @event.end_hours.hour %>:<%= @event.end_hours.min %>
    </div>
  </div>
  <div class="event-description">
  <%= @event.description %>
  </div>
  <div class="event-slot">
    <div>
      <%= @event.bookings.size %> / <%= @event.slot_number %>
    </div>
    <div>

    </div>
  </div>
</div>
<%= link_to "new booking", new_event_booking_path(@event)%>
