<% @games.each do |game| %>
  <div>
    <h2><%= game[:name] %></h2>
    <% if game[:image] %>
      <img src="<%= game[:image] %>" alt="<%= game[:name] %>">
    <% end %>
    <p><strong>Year Published:</strong> <%= game[:year_published] %></p>
    <p><strong>Min Players:</strong> <%= game[:min_players] %></p>
    <p><strong>Max Players:</strong> <%= game[:max_players] %></p>
    <p><strong>Playing Time:</strong> <%= game[:playing_time] %> minutes</p>
    <p><strong>Description:</strong> <%= game[:description] %></p>

    <%= form_with url: { action: :save_game }, method: :post do |f| %>
      <%= f.hidden_field :game_id, value: game[:id] %>
      <%= f.hidden_field :game_name, value: game[:name] %>
      <%= f.submit 'Save Game' %>
    <% end %>
  </div>
<% end %>
