<h1>Search Results</h1>

<%= form_with url: show_games_path, method: :get, class: 'search-form' do |f| %>
  <%= f.text_field :search_query, placeholder: 'Search a game', value: @search_query %>
  <%= f.submit 'Search' %>
<% end %>

<% if @games.empty? %>
  <p>No game found.</p>
<% else %>
  <% @games.each do |game| %>
    <div>
      <h2><%= game.name %></h2>
      <% if game.image_url.present? %>
        <%= image_tag game.image_url, alt: game.name, style: 'max-width: 200px; max-height: 200px;' %>
      <% end %>
      <p><strong>Year Published:</strong> <%= game.publish_year %></p>
      <p><strong>Min Players:</strong> <%= game.min_players %></p>
      <p><strong>Max Players:</strong> <%= game.max_players %></p>
      <p><strong>Playing Time:</strong> <%= game.duration %> minutes</p>
      <p><strong>Description:</strong> <%= game.description %></p>
      <%= button_to "Create an Event!", new_event_path, method: :get, class: 'deck-button', params: { game_name: game.name, year_published: game.publish_year, min_players: game.min_players, max_players: game.max_players, playing_time: game.duration, description: game.description, image_url: game.image_url } %>
    </div>
  <% end %>
<% end %>
